# Core Streamlit and Data Libraries
streamlit>=1.25.0
pandas>=1.5.0
scikit-learn>=1.2.0
numpy>=1.22.0
joblib>=1.2.0

# Plotting and Visualization
matplotlib>=3.6.0
seaborn>=0.12.0

# Streamlit Add-ons
streamlit-extras>=0.3.2  # For extra UI components like stylable headers
streamlit-toggle-switch>=0.1.5  # If you're adding toggle switches
